
.card-parent{
    width: 24.66%;
}

.card-parent:hover{
    cursor: pointer;
}

.custom-carousal-image-height{
    height: 25rem;
}

@media only screen and (max-width: 1560px) {
    .card-parent{
        width: 24%;
    }
  }

  @media only screen and (max-width: 1080px) {
    .card-parent{
        width: 49%;
    }
  }